body {
  background: white;
  font-family: sans-serif;
}




/*Structure overlay management*/
.overlay {
       position: absolute;
       opacity: .5;
       /*background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAN0lEQVQYV2NkIAIwEqHmPyFF/xkYGBgJKQJbhEsR2ASYU7ApQlGAzyQU/yCbhGECunU4FYAUAgBp4wYJDzYgLgAAAABJRU5ErkJggg==) repeat;*/
   }
rect.struct {
  mask:url(#mask-stripe);
}

.rect1 {
  fill: blue;
}


   /**/
.wrapper {
  background: white;
  margin: auto;
  padding: 1em;
  width: 95%;
}
.hiddenChart {
  opacity: .0;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;

}

.hiddenChart1 {
  opacity: .0;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;

}
.hiddentab {
  opacity: .0;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;

}
.hiddenButtons {
  display: inline;
  opacity: .0;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}



#linechart_material {
  position: absolute;
    top: 330px;
    left: 20px;
}
#linechart2_material {
    position: absolute;
    top: 330px;
    left: 20px;
}

#hiddenModes {
  opacity: .0;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}
h1 {
  text-align: center;
  color: #005f63;
}
ul.tabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.tabs li {
  border: gray solid 1px; 
  border-bottom: none;
  float: left;
  margin: 0 .25em 0 0;
  padding: .25em .5em;
}
ul.tabs li a {
  color: #01a093;
  font-weight: bold;
  text-decoration: none;
}
ul.tabs li.active {
  background: #01a093;
}
ul.tabs li.active a {
  color: white;
}
.clr {
  clear: both;
}
article {
  border-top: gray solid 1px;
  padding: 0 1em;
}   